.catTab {
  padding: 12px 20px !important;
  font-size: 16px !important;
    /* font-weight: 900; */
  text-transform: capitalize !important;
}

.MuiListItemButton-root:hover .MuiListItemText-primary {
  color: #3bb77e;  
  transition: color 0.3s ease;
}
